<div class="row">
  <div class="col-lg-6">
    {{#bs-button-group value=buttonGroupValue2 type="radio" onChange=(action (mut buttonGroupValue2)) as |bg|}}
      {{#bg.button class="btn-info" value=1}}1{{/bg.button}}
      {{#bg.button class="btn-light" value=2}}2{{/bg.button}}
      {{#bg.button class="btn-dark" value=3}}3{{/bg.button}}
      {{#bg.button class="btn-warning" value=4}}4{{/bg.button}}
    {{/bs-button-group}}
  </div>
  <div class="col-lg-6">
    <p>
      <span class="label-setting" data-separator=": ">You selected</span>
      <span>{{buttonGroupValue2}}</span>
    </p>
  </div>
</div>
{{yield}}