{{#if logged}}
  <div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">logout</h4>
  <p>Error</p>
  <p class="mb-0">Please, logout first!</p>
  {{#bs-button onClick=(action "logout")}}
    Logout
  {{/bs-button}}
</div>
{{else}}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">logout</h4>
  <p>works!</p>
  <p class="mb-0">like a charm because you are not logged</p>
</div>
{{/if}}

{{outlet}}