{{#unless logged}}
  {{panel-errored errored=true titleText="data route" messageError="Need to login first" }}
{{else}}
  {{panel-errored errored=false titleText="data route" message="working like a charm!" }}
  
  <h3 class="col-lg-12 text-center">Ordered Lists</h3>
  <div class="col-lg-12">
    <ol id="lstOrdered01">
      <li id="li01">Item list01</li>
      <li id="li02">Item list02</li>
      <li id="li03">Item list03</li>
      <li id="li04">Item list04</li>
      <li id="li05">Item list05</li>
    </ol>
    <ol id="lstOrdered02">
      <li id="li01">Item list11</li>
      <li id="li02">Item list12</li>
      <li id="li03">Item list13</li>
      <li id="li04">Item list14</li>
      <li id="li05">Item list15</li>
    </ol>
  </div>
  <h3 class="col-lg-12 text-center">Unordered Lists</h3>
  <div class="col-lg-12">
    <ul id="lstUnrdered01">
      <li id="li01">Item list01</li>
      <li id="li02">Item list02</li>
      <li id="li03">Item list03</li>
      <li id="li04">Item list04</li>
      <li id="li05">Item list05</li>
    </ul>
    <ul id="lstUnrdered02">
      <li id="li01">Item list11</li>
      <li id="li02">Item list12</li>
      <li id="li03">Item list13</li>
      <li id="li04">Item list14</li>
      <li id="li05">Item list15</li>
    </ul>
  </div>
  <h3 id="titleTableOk" class="col-lg-12 text-center">Table OK simple</h3>
  <div class="col-lg-12 table-responsive">
    <table id="tblOk" class="table">
      <tr>
        <th>Title01</th>
        <th>Title02</th>
      </tr>
      <tr>
        <td>Row01Cell01</td>
        <td>Row01Cell02</td>
      </tr>
      <tr>
        <td>Row02Cell01</td>
        <td>Row02Cell02</td>
      </tr>
    </table>
  </div>
  <h3 id="titleTableOkHtml5" class="col-lg-12 text-center">Table OK HTML5</h3>
  <div class="col-lg-12 table-responsive">
    <table id="tblHtml5Ok" class="table table-striped">
      <thead>
        <tr>
          <th>Title01</th>
          <th>Title02</th>
          <th>Title03</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Row01Cell01</td>
          <td>Row01Cell02</td>
          <td><button class="btn btn-block btn-warning">Row01Cell03Btn</button></td>
        </tr>
        <tr>
          <td>Row02Cell01</td>
          <td>Row02Cell02</td>
          <td><button class="btn btn-block btn-warning">Row02Cell03Btn</button></td>
        </tr>
        <tr>
          <td>Row03Cell01</td>
          <td>Row03Cell02</td>
          <td><button class="btn btn-block btn-warning">Row03Cell03Btn</button></td>
        </tr>
      </tbody>
    </table>
  </div>
{{/unless}}

{{outlet}}
