<header id="mainHeader" class="row">
  <main-menu class="col-lg-12"></main-menu>  
</header>
<section id="mainSection" class="row justify-content-md-center">
    <figure class="figure text-center col-12 col-md-auto">
        <img id="description_url" src="{{description_url}}" class="figure-img img-fluid rounded" alt="Image not loaded">
        <figcaption id="description_txt" class="figure-caption">{{description_txt}}</figcaption>
    </figure>
</section>
<footer id="mainFooter" class="row"></footer>
