body{
    background-color: #f7f7f7
}

.app-title {
    background: #333;
    color: rgb(18, 94, 56);
    width: 590px;
    margin: 140px auto;
    position: relative;
}

.app-title blockquote {
    width: 565px;
    font: 2.65em CallunaRegular;
    letter-spacing: .075em;
    float: left;
    padding: 45px 0 30px 25px;
    margin: 0;
    border-top: 2px dotted #858585;
    border-bottom: 2px dotted #858585;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}

.app-title:before {
    content: "“";
    font-size: 13em;
    position: absolute;
    left: -100px;
    color: #666;
}

.app-title:after {
    content: "”";
    font-size: 13em;
    position: absolute;
    right: -100px;
    top: 150px;
    color: #666;
}

.app-title blockquote:first-line {
    font: 1.85em "Sketch Block";
    color: #30a743;
}

.app-title blockquote:first-letter {
    font-size: 2.9em;
    text-transform: lowercase;
    float: left;
    line-height: .52em;
    margin-right: -18px;
    position: relative;
    z-index: 1;
}

.app-title blockquote strong:first-child {
    margin-left: 8px;
    letter-spacing: 0;
}

.app-title blockquote strong:last-child {
    font: 2em "Museo 700";
    text-transform: uppercase;
    letter-spacing: 0;
}

.app-title blockquote em {
    border-bottom: 2px dotted #858585;
}

.app-title blockquote + h1 {
    float: right;
    margin-top: 10px;
    font: 1.6em CallunaRegular;
    letter-spacing: .15em;
}

.app-title h1:first-letter {
    color: #30a743;
    font-size: 1.3em;
    font-style: italic;
    letter-spacing: .25em;
}

 @-moz-document url-prefix() {
    .app-title blockquote:first-letter {
        margin-top: -29px;
    }
}
