<nav>
    <ul>
        <li>{{#link-to "index"}}Home{{/link-to}}</li>
        <li>Projects</li>
        <li>Version Notes</li>
        <li>{{#link-to "settings"}}Settings{{/link-to}}</li>
    </ul>
</nav>


{{outlet}}