<section id="box-settings">
    <label id="lblAppName" class="label-setting control" for="txtAppName" data-separator=":">Title</label>
    <input id="txtAppName" class="label-setting control" placeholder="QADMIN">

    <input type="submit" value="Save settings" />
</section>

{{outlet}}